In [100]:
import json

In [101]:
import requests
requests = requests.get("https://www.ncdc.noaa.gov/cag/national/time-series/110-pcp-ytd-12-1895-2016.json?base_prd=true&begbaseyear=1901&endbaseyear=2000")

In [102]:
requests.text

'{"description":{"title":"Contiguous U.S., Precipitation, January-December","units":"Inches","base_period":"1901-2000","missing":-99},"data":{"189512":{"value":"27.55","anomaly":"-2.39"},"189612":{"value":"29.77","anomaly":"-0.17"},"189712":{"value":"29.70","anomaly":"-0.24"},"189812":{"value":"29.57","anomaly":"-0.37"},"189912":{"value":"28.71","anomaly":"-1.23"},"190012":{"value":"30.63","anomaly":"0.69"},"190112":{"value":"27.63","anomaly":"-2.31"},"190212":{"value":"30.63","anomaly":"0.69"},"190312":{"value":"29.36","anomaly":"-0.58"},"190412":{"value":"27.95","anomaly":"-1.99"},"190512":{"value":"32.60","anomaly":"2.66"},"190612":{"value":"32.84","anomaly":"2.90"},"190712":{"value":"30.94","anomaly":"1.00"},"190812":{"value":"29.80","anomaly":"-0.14"},"190912":{"value":"31.19","anomaly":"1.25"},"191012":{"value":"24.91","anomaly":"-5.03"},"191112":{"value":"29.52","anomaly":"-0.42"},"191212":{"value":"30.48","anomaly":"0.54"},"191312":{"value":"29.84","anomaly":"-0.10"},"191412":{"value":"28.81","anomaly":"-1.13"},"191512":{"value":"32.77","anomaly":"2.83"},"191612":{"value":"29.42","anomaly":"-0.52"},"191712":{"value":"25.35","anomaly":"-4.59"},"191812":{"value":"28.78","anomaly":"-1.16"},"191912":{"value":"31.76","anomaly":"1.82"},"192012":{"value":"31.30","anomaly":"1.36"},"192112":{"value":"28.78","anomaly":"-1.16"},"192212":{"value":"29.89","anomaly":"-0.05"},"192312":{"value":"31.68","anomaly":"1.74"},"192412":{"value":"26.52","anomaly":"-3.42"},"192512":{"value":"26.96","anomaly":"-2.98"},"192612":{"value":"30.94","anomaly":"1.00"},"192712":{"value":"32.06","anomaly":"2.12"},"192812":{"value":"29.50","anomaly":"-0.44"},"192912":{"value":"30.15","anomaly":"0.21"},"193012":{"value":"25.58","anomaly":"-4.36"},"193112":{"value":"27.52","anomaly":"-2.42"},"193212":{"value":"30.44","anomaly":"0.50"},"193312":{"value":"27.50","anomaly":"-2.44"},"193412":{"value":"25.79","anomaly":"-4.15"},"193512":{"value":"29.48","anomaly":"-0.46"},"193612":{"value":"27.28","anomaly":"-2.66"},"193712":{"value":"30.51","anomaly":"0.57"},"193812":{"value":"29.74","anomaly":"-0.20"},"193912":{"value":"26.33","anomaly":"-3.61"},"194012":{"value":"30.41","anomaly":"0.47"},"194112":{"value":"32.81","anomaly":"2.87"},"194212":{"value":"31.33","anomaly":"1.39"},"194312":{"value":"26.81","anomaly":"-3.13"},"194412":{"value":"30.62","anomaly":"0.68"},"194512":{"value":"33.03","anomaly":"3.09"},"194612":{"value":"31.09","anomaly":"1.15"},"194712":{"value":"29.35","anomaly":"-0.59"},"194812":{"value":"30.69","anomaly":"0.75"},"194912":{"value":"30.30","anomaly":"0.36"},"195012":{"value":"30.87","anomaly":"0.93"},"195112":{"value":"31.25","anomaly":"1.31"},"195212":{"value":"26.34","anomaly":"-3.60"},"195312":{"value":"28.31","anomaly":"-1.63"},"195412":{"value":"26.15","anomaly":"-3.79"},"195512":{"value":"27.74","anomaly":"-2.20"},"195612":{"value":"25.38","anomaly":"-4.56"},"195712":{"value":"33.87","anomaly":"3.93"},"195812":{"value":"30.23","anomaly":"0.29"},"195912":{"value":"30.60","anomaly":"0.66"},"196012":{"value":"28.75","anomaly":"-1.19"},"196112":{"value":"31.25","anomaly":"1.31"},"196212":{"value":"28.60","anomaly":"-1.34"},"196312":{"value":"25.70","anomaly":"-4.24"},"196412":{"value":"30.26","anomaly":"0.32"},"196512":{"value":"29.80","anomaly":"-0.14"},"196612":{"value":"27.46","anomaly":"-2.48"},"196712":{"value":"29.60","anomaly":"-0.34"},"196812":{"value":"30.39","anomaly":"0.45"},"196912":{"value":"30.63","anomaly":"0.69"},"197012":{"value":"29.70","anomaly":"-0.24"},"197112":{"value":"30.33","anomaly":"0.39"},"197212":{"value":"31.70","anomaly":"1.76"},"197312":{"value":"34.96","anomaly":"5.02"},"197412":{"value":"30.62","anomaly":"0.68"},"197512":{"value":"33.03","anomaly":"3.09"},"197612":{"value":"26.31","anomaly":"-3.63"},"197712":{"value":"30.44","anomaly":"0.50"},"197812":{"value":"30.14","anomaly":"0.20"},"197912":{"value":"32.75","anomaly":"2.81"},"198012":{"value":"28.27","anomaly":"-1.67"},"198112":{"value":"29.96","anomaly":"0.02"},"198212":{"value":"33.86","anomaly":"3.92"},"198312":{"value":"34.76","anomaly":"4.82"},"198412":{"value":"31.40","anomaly":"1.46"},"198512":{"value":"29.97","anomaly":"0.03"},"198612":{"value":"31.38","anomaly":"1.44"},"198712":{"value":"29.01","anomaly":"-0.93"},"198812":{"value":"25.90","anomaly":"-4.04"},"198912":{"value":"29.05","anomaly":"-0.89"},"199012":{"value":"32.17","anomaly":"2.23"},"199112":{"value":"32.44","anomaly":"2.50"},"199212":{"value":"31.26","anomaly":"1.32"},"199312":{"value":"32.62","anomaly":"2.68"},"199412":{"value":"30.62","anomaly":"0.68"},"199512":{"value":"32.69","anomaly":"2.75"},"199612":{"value":"33.70","anomaly":"3.76"},"199712":{"value":"31.86","anomaly":"1.92"},"199812":{"value":"33.89","anomaly":"3.95"},"199912":{"value":"28.47","anomaly":"-1.47"},"200012":{"value":"28.22","anomaly":"-1.72"},"200112":{"value":"29.02","anomaly":"-0.92"},"200212":{"value":"29.05","anomaly":"-0.89"},"200312":{"value":"30.51","anomaly":"0.57"},"200412":{"value":"33.25","anomaly":"3.31"},"200512":{"value":"30.08","anomaly":"0.14"},"200612":{"value":"29.82","anomaly":"-0.12"},"200712":{"value":"29.18","anomaly":"-0.76"},"200812":{"value":"31.24","anomaly":"1.30"},"200912":{"value":"32.30","anomaly":"2.36"},"201012":{"value":"31.37","anomaly":"1.43"},"201112":{"value":"30.10","anomaly":"0.16"},"201212":{"value":"27.53","anomaly":"-2.41"},"201312":{"value":"31.06","anomaly":"1.12"},"201412":{"value":"30.85","anomaly":"0.91"},"201512":{"value":"34.59","anomaly":"4.65"},"201612":{"value":"31.42","anomaly":"1.48"}}}'

In [103]:
requests_dict = json.loads(requests.text)

In [104]:
requests_dict.keys()

dict_keys(['description', 'data'])

In [105]:
requests_dict['description']

{'title': 'Contiguous U.S., Precipitation, January-December',
 'units': 'Inches',
 'base_period': '1901-2000',
 'missing': -99}

In [106]:
import pandas as pd
series_data = pd.Series(requests_dict['data'])
series_data.head()

189512    {'value': '27.55', 'anomaly': '-2.39'}
189612    {'value': '29.77', 'anomaly': '-0.17'}
189712    {'value': '29.70', 'anomaly': '-0.24'}
189812    {'value': '29.57', 'anomaly': '-0.37'}
189912    {'value': '28.71', 'anomaly': '-1.23'}
dtype: object

In [127]:
import pandas.util.testing as tm; tm.N = 2
def unpivot(frame):
    N,K = frame.shape
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
df = pd.DataFrame.from_dict(requests_dict)

In [126]:
df

,description,data
189512,NaN,"{'value': '27.55', 'anomaly': '-2.39'}"
189612,NaN,"{'value': '29.77', 'anomaly': '-0.17'}"
189712,NaN,"{'value': '29.70', 'anomaly': '-0.24'}"
189812,NaN,"{'value': '29.57', 'anomaly': '-0.37'}"
189912,NaN,"{'value': '28.71', 'anomaly': '-1.23'}"
190012,NaN,"{'value': '30.63', 'anomaly': '0.69'}"
190112,NaN,"{'value': '27.63', 'anomaly': '-2.31'}"
190212,NaN,"{'value': '30.63', 'anomaly': '0.69'}"
190312,NaN,"{'value': '29.36', 'anomaly': '-0.58'}"
190412,NaN,"{'value': '27.95', 'anomaly': '-1.99'}"
190512,NaN,"{'value': '32.60', 'anomaly': '2.66'}"
190612,NaN,"{'value': '32.84', 'anomaly': '2.90'}"
190712,NaN,"{'value': '30.94', 'anomaly': '1.00'}"
190812,NaN,"{'value': '29.80', 'anomaly': '-0.14'}"
190912,NaN,"{'value': '31.19', 'anomaly': '1.25'}"
191012,NaN,"{'value': '24.91', 'anomaly': '-5.03'}"
191112,NaN,"{'value': '29.52', 'anomaly': '-0.42'}"
191212,NaN,"{'value': '30.48', 'anomaly': '0.54'}"
191312,NaN,"{'value': '29.84', 'anomaly': '-0.10'}"
191412,NaN,"{'value': '28.81', 'anomaly': '-1.13'}"
191512,NaN,"{'value': '32.77', 'anomaly': '2.83'}"
191612,NaN,"{'value': '29.42', 'anomaly': '-0.52'}"
191712,NaN,"{'value': '25.35', 'anomaly': '-4.59'}"
191812,NaN,"{'value': '28.78', 'anomaly': '-1.16'}"
191912,NaN,"{'value': '31.76', 'anomaly': '1.82'}"
192012,NaN,"{'value': '31.30', 'anomaly': '1.36'}"
192112,NaN,"{'value': '28.78', 'anomaly': '-1.16'}"
192212,NaN,"{'value': '29.89', 'anomaly': '-0.05'}"
192312,NaN,"{'value': '31.68', 'anomaly': '1.74'}"
192412,NaN,"{'value': '26.52', 'anomaly': '-3.42'}"
...,...,...
199112,NaN,"{'value': '32.44', 'anomaly': '2.50'}"
199212,NaN,"{'value': '31.26', 'anomaly': '1.32'}"
199312,NaN,"{'value': '32.62', 'anomaly': '2.68'}"
199412,NaN,"{'value': '30.62', 'anomaly': '0.68'}"
199512,NaN,"{'value': '32.69', 'anomaly': '2.75'}"
199612,NaN,"{'value': '33.70', 'anomaly': '3.76'}"
199712,NaN,"{'value': '31.86', 'anomaly': '1.92'}"
199812,NaN,"{'value': '33.89', 'anomaly': '3.95'}"
199912,NaN,"{'value': '28.47', 'anomaly': '-1.47'}"
200012,NaN,"{'value': '28.22', 'anomaly': '-1.72'}"
200112,NaN,"{'value': '29.02', 'anomaly': '-0.92'}"
200212,NaN,"{'value': '29.05', 'anomaly': '-0.89'}"
200312,NaN,"{'value': '30.51', 'anomaly': '0.57'}"
200412,NaN,"{'value': '33.25', 'anomaly': '3.31'}"
200512,NaN,"{'value': '30.08', 'anomaly': '0.14'}"
200612,NaN,"{'value': '29.82', 'anomaly': '-0.12'}"
200712,NaN,"{'value': '29.18', 'anomaly': '-0.76'}"
200812,NaN,"{'value': '31.24', 'anomaly': '1.30'}"
200912,NaN,"{'value': '32.30', 'anomaly': '2.36'}"
201012,NaN,"{'value': '31.37', 'anomaly': '1.43'}"
201112,NaN,"{'value': '30.10', 'anomaly': '0.16'}"
201212,NaN,"{'value': '27.53', 'anomaly': '-2.41'}"
201312,NaN,"{'value': '31.06', 'anomaly': '1.12'}"
201412,NaN,"{'value': '30.85', 'anomaly': '0.91'}"
201512,NaN,"{'value': '34.59', 'anomaly': '4.65'}"
201612,NaN,"{'value': '31.42', 'anomaly': '1.48'}"
base_period,1901-2000,NaN
missing,-99,NaN
title,"Contiguous U.S., Precipitation, January-December",NaN
units,Inches,NaN